<div style="display: block; margin-top: 30px; margin-bottom: 30px;">
  <canvas baseChart
    [data]="chartData"
    [labels]="chartLabels"
    [chartType]="chartType"
    [plugins]="chartPlugins"
    [colors]="chartColors"
    [options]="optionsChart"
  >
  </canvas>
</div>

<p>
  <button (click)="setRandomData()">Valores Aleatorios</button>
</p>

<p>
  <button (click)="removeSecondValue()" [disabled]="segundoValor === 0">Quitar Segundo Valor</button>
</p>

<p>
  <button (click)="addSecondValue()" [disabled]="segundoValor > 0">Agregar Segundo Valor</button>
</p>
